{% extends "layout.html" %}
{% load static %}
{% block main %}

<section id="products-section">
  <div class="container">
    <div class="row">
      {% for product in products %}
      <a
        href="{% url 'products:product-detail' product.id %}"
        class="col-md-{% if forloop.first or forloop.counter == 7 %}8{% else %}4{% endif %} col-6 product d-flex flex-column justify-content-between"
      >
        {% if product.images.all %}
        <img
          src="{{ product.images.all.0.get_image_display }}"
          alt="{{ product.title }}"
          class="w-100"
        />
        {% else %}
        <img
          src="{% static 'default.jpg' %}"
          alt="Default Image"
          class="w-100"
        />
        {% endif %}
        <h6>{{ product.title }}</h6>
      </a>
      {% endfor %}
    </div>

    <!-- Pagination bölməsi -->
    <div class="pagination">
      <ul class="pagination-list d-flex justify-content-center">
        {% if products.has_previous %}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ products.previous_page_number }}"
            aria-label="Əvvəlki"
          >
            <span aria-hidden="true">&laquo;</span>
            <!-- Arrow left -->
          </a>
        </li>
        {% endif %}

        {% for num in products.paginator.page_range %}
          {% if products.number == num %}
          <li class="page-item active">
            <span class="page-link">{{ num }}</span>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
          {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ products.next_page_number }}"
            aria-label="Növbəti"
          >
            <span aria-hidden="true">&raquo;</span>
            <!-- Arrow right -->
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- Pagination bölməsi sonu -->
  </div>
</section>


{% endblock main %}
